body{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-right: 10%;
    margin-left: auto;
    max-height: 754px;

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stunning-logo > img{
    margin-left: 50px;
    width: 130px;
}
.menu-items a{
    color: #CECECD;
    margin-left: 50px;
    padding-bottom: 3px;
    text-decoration: none;
    cursor: pointer;
}
#menu-items-home{
    border-bottom: 3.5px solid #5243C0;
    color: black;
}
.menu-items a:hover{
    border-bottom: 3.5px solid #5243C0;
    color: black;
}
.your-account button{
    color: #5243C0;
    background-color: #FFD8DB;
    border: none;
    padding: 13px 20px;
    border-radius: 14px;
    cursor: pointer;
    margin-right: 25px;
}
.your-account{
    padding-right: 30px;
}
.your-account button:hover{
    background-color: pink;
    color: #5243C0;
    box-shadow: 0px 0px 4px pink;
}
main{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section aside{
    padding: 0 auto;
    width: 50%;
    margin: 0 auto;
}
.left-section{
    margin: 0;
    width: 50%;
    margin-left: 70px;
    text-align: left;
    margin-left: 10%;
}
.title h1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.0;
    margin: 0;
    margin-top: 30px;
}
.title h1 button{
    background-color: #5243C0;
    border: none;
    padding: 5px;
    position: relative;
    bottom: 4px;
}
.title p{
    color: #5a5855;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
}
.button-arrows button{
    background-color: #5243C0;
    color: #ffffff;
    padding: 23px 40px;
    border: none;
    border-radius: 30px;
    margin: 0;
    cursor: pointer;
}
.button-arrows button:hover{
    background-color: #5243B0 ;
    color: white;
    box-shadow: 0px 0px 4px #5243C0;
}
.arrows{
    position: relative;
    top: 25px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 2px lightgray;
    cursor: pointer;
    
    
}
.arrows:hover{
    transform: scale(1.05) ;
}
.right-section{
    width: 50%;
}
.right-section img{
    width: 100%;
    transition: 500ms;
}

.right-section img:hover{
transform: skewY(-2deg);
}
.groups{
    padding-top: 30px;
    margin-top: 50px;
}
.group1{
    background-color: #F7F7F7;
    width: 72%;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 0;
}
#group-highlight{
    background-color: white;
    box-shadow: 0 0 20px #B2B1B0;
}
.group1:hover {
    background-color: white;
    box-shadow: 0 0 20px #B2B1B0;
   
    
}
.group1 a{
    position: relative;
    bottom: 10px;
}
.group1 button{
    position: relative;
    bottom: 15px;
    padding: 7px 13px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
}
.group-name{
    margin-left: 10px;
    font-weight: 600;
}
.group-date{
    margin-left: 20px;
    color: #ccc;
}
.group-image1{
    margin-left:50px;
}
.group-image2{
    margin-left:30px;
}
.group-image3{
    margin-left:65px;
}
.group-image4{
    margin-left:85px;
}
.group-button1{
    background-color: #FFD7DA;
}
.group-button2{
    background-color: #FD6534;
}
.group-button3{
    background-color: #9ED095;
}
.group-button4{
    background-color: #FFE4A0;
}
/* footer{
    display: block;
    background-color: #fff;
    text-align: center;
    color: rgba(121, 104, 104, 0.8);
    font-weight: 500;
    margin-left: 10%;
    padding: 10px 0px;
} */



